.bm-burger-button {
    position: relative;
    width: 25px;
}

.bm-burger-button button {
    position: absolute;
}

.bm-burger-button:hover {
    color: #ff7bbc;
}

.bm-cross-button:hover {
    color: #ff7bbc;
}

.bm-menu-wrap {
    top: 0;
}

.bm-menu {
    background: white;
    padding-top: 50px;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    font-family: "Poppins", serif;
    color: black;
}

a:hover {
    color: #ff7bbc;
}

.active {
    color: #ff7bbc;
}

.cross-icon {
    width: 50px;
}