/* Add menu on top of site */
.bm-menu-wrap {
    top: 0;
}

.bm-menu {
    background: white;
    /* Bakckground color menu */
    padding-top: 50px;
}




/* 
@media (min-width: 1024px) {
    .hamburger-icon {
        display: none;
    }

    .cross-icon {
        display: none;
    }

    .bm-menu {
        display: none;
    }

    .bm-overlay {
        display: none;
    }
} */