.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.brand {
  /* font-weight: 700; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.costumer-links,
.nav-links {
  list-style-type: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  font-family: "Poppins", serif;
  color: black;
}

a:hover {
  color: #ff7bbc;
}

.active {
  color: #ff7bbc;
}

@media (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}